/* ## Defaults
----------------------------------------------------------------------------- */

html {
    font-size: $base-font-size;
}

body {
	@include pixel-rem($body-font-size, $base-line-height);
	background-color: $body-background;
	color: $body-color;
	font-family: $body-font;
	font-weight: $body-font-weight;
	margin: 0;
	
	// Chrome Fix
	& > div {
		@include pixel-rem($body-font-size, $base-line-height);
	}
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
	transition: all 300ms ease-in-out;
}

a {
	color: $link-color;
	text-decoration: none;
	&:hover, &:focus {
		color: darken($link-color, 0.15);
		text-decoration: underline;
	}
}

p {
	margin: 0 0 $margin;
	padding: 0;
}

ol, ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

hr {
	border: 0;
	border-collapse: collapse;
	border-top: 1px solid $border-color;
	clear: both;
	margin: $margin 0;
}

b, strong {
	font-weight: 700;
}

blockquote, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: $margin;
	&::before {
		@include pixel-rem(30);
		content: "\201C";
		display: block;
		height: 0;
		left: -20px;
		position: relative;
		top: -10px;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: $heading-color;
	font-family: $heading-font;
	font-weight: $heading-font-weight;
	line-height: 1.2;
	margin: 0;
	margin-bottom: 10px;
}

h1 {
	@include pixel-rem(36);
}

h2 {
	@include pixel-rem(30);
}

h3 {
	@include pixel-rem(24);
}

h4 {
	@include pixel-rem(20);
}

h5 {
	@include pixel-rem(18);
}

h6 {
	@include pixel-rem(16);
}

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
	.feature-content &, .gallery & {
		width: auto;
	}
}

.gallery {
	overflow: hidden;
	img {
		border: 1px solid $border-color;
		height: auto;
		padding: 4px;
		&:hover, &:focus {
			border-color: $border-color-hover;
		}
	}
}

.gallery-item {
	margin: 0 0 $margin;
	text-align: center;
	text-align: center;
	.gallery-columns-2 & {
		@include grid-media($sm) {
			@include column(1/2, $cycle: 2);
		}
	}
	.gallery-columns-3 & {
		@include grid-media($sm) {
			@include column(1/3, $cycle: 3);
		}
	}
	.gallery-columns-4 & {
		@include grid-media($sm) {
			@include column(1/4, $cycle: 4);
		}
	}
	.gallery-columns-5 & {
		@include grid-media($sm) {
			@include column(1/5, $cycle: 5);
		}
	}
	.gallery-columns-6 & {
		@include grid-media($sm) {
			@include column(1/6, $cycle: 6);
		}
	}
	.gallery-columns-7 & {
		@include grid-media($sm) {
			@include column(1/7, $cycle: 7);
		}
	}
	.gallery-columns-8 & {
		@include grid-media($sm) {
			@include column(1/8, $cycle: 8);
		}
	}
	.gallery-columns-9 & {
		@include grid-media($sm) {
			@include column(1/9, $cycle: 9);
		}
	}
	.wp-caption-text {
		margin-left: 0;
	}
	.gallery-icon {
		text-align: center;
	}
}

#{$all-text-inputs} {
	@include pixel-rem(16);
	background-color: $input-background;
	border: 1px solid $input-border-color;
	color: $input-color;
	font-family: $input-font;
	font-weight: $input-font-weight;
	padding: $input-padding-y $input-padding-x;
	width: 100%;
}

#{$all-text-inputs-hover}, #{$all-text-inputs-focus} {
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-moz-placeholder {
	color: $placeholder-color;
	font-weight: $placeholder-font-weight;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: $placeholder-color;
	font-weight: $placeholder-font-weight;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	@extend %button;
	@include pixel-rem($button-font-size);
	background-color: $button-background;
	border: 0;
	color: $button-color;
	cursor: pointer;
	font-family: $button-font;
	font-weight: $button-font-weight;
	padding: $button-padding-y $button-padding-x;
	text-transform: uppercase;
	width: auto;
	&:hover, &:focus {
		background-color: $button-background-hover;
		color: $button-color-hover;
	}
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: $table-margin;
	width: 100%;
}

tbody {
	border-bottom: 1px solid $table-border-color;
}

td, th {
	text-align: left;
}

td {
	border-top: 1px solid $table-border-color;
	padding: $table-padding-y $table-padding-x;
}

th {
	font-weight: 400;
}

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus  {
	@include pixel-rem(16);
	clip: auto !important;
	height: auto;
	width: auto;
	display: block;
	font-weight: bold;
	padding: 15px 23px 14px;
	color: $body-color;
	background: $white;
	z-index: 100000; /* Above WP toolbar. */
	text-decoration: none;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}

.more-link {
    position: relative;
}