/* ## Defaults
----------------------------------------------------------------------------- */

html {
    font-size: $base-font-size;
}

body {
	// Chrome Fix
	& > div {
		@include pixel-rem(16, $base-line-height);
	}
	@include pixel-rem(16, $base-line-height);
	background-color: $body-background;
	color: $body-color;
	font-family: $body-font;
	font-weight: $body-font-weight;
	margin: 0;
	overflow-x: hidden;
	& > .site-container {
		overflow-x: hidden;
	}
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
	// @include transition(all, 100ms, ease-in-out);
	transition: all 100ms ease-in-out;
}

a {
	color: $link-color;
	text-decoration: none;
	&:hover, &:focus {
		color: $body-color;
		text-decoration: none;
	}
}

p {
	margin: 0 0 $margin;
	padding: 0;
}

ol, ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

hr {
	border: 0;
	border-collapse: collapse;
	border-top: 1px solid $border-color;
	clear: both;
	margin: $margin 0;
}

b, strong {
	font-weight: 700;
}

blockquote, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: $margin;
	&::before {
		@include pixel-rem(30);
		content: "\201C";
		display: block;
		height: 0;
		left: -20px;
		position: relative;
		top: -10px;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: $heading-color;
	font-family: $heading-font;
	font-weight: $heading-font-weight;
	line-height: 1.2;
	margin: 0 0 10px;
}

h1 {
	@include pixel-rem(36);
}

h2 {
	@include pixel-rem(30);
}

h3 {
	@include pixel-rem(24);
}

h4 {
	@include pixel-rem(20);
}

h5 {
	@include pixel-rem(18);
}

h6 {
	@include pixel-rem(16);
}

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
	.feature-content &, .gallery & {
		width: auto;
	}
}

.gallery {
	overflow: hidden;
	img {
		border: 1px solid $border-color;
		height: auto;
		padding: 4px;
		&:hover, &:focus {
			border-color: $border-color-hover;
		}
	}
}

.gallery-item {
	float: left;
	margin: 0 0 $margin;
	text-align: center;
	.gallery-columns-2 & {
		@include grid-column(12);
		@include grid-media($sm) {
			@include grid-column(6);
			@include omega(2n);
		}
	}
	.gallery-columns-3 & {
		@include grid-column(12);
		@include grid-media($sm) {
			@include grid-column(4);
			@include omega(3n);
		}
	}
	.gallery-columns-4 & {
		@include grid-column(12);
		@include grid-media($sm) {
			@include grid-column(3);
			@include omega(4n);
		}
	}
	.gallery-columns-5 & {
		@include grid-column(12);
		@include grid-media($sm) {
			@include grid-column(2 of 10);
			@include omega(5n);
		}
	}
	.gallery-columns-6 & {
		@include grid-column(12);
		@include grid-media($sm) {
			@include grid-column(2);
			@include omega(6n);
		}
	}
	.gallery-columns-7 & {
		@include grid-column(12);
		@include grid-media($sm) {
			@include grid-column(1 of 7);
			@include omega(7n);
		}
	}
	.gallery-columns-8 & {
		@include grid-column(12);
		@include grid-media($sm) {
			@include grid-column(1 of 8);
			@include omega(8n);
		}
	}
	.gallery-columns-9 & {
		@include grid-column(12);
		@include grid-media($sm) {
			@include grid-column(1 of 9);
			@include omega(8n);
		}
	}
}

input,
select,
textarea {
	@include pixel-rem(16);
	background-color: $input-background;
	border: 1px solid $border-color;
	color: $body-color;
	font-weight: $body-font-weight;
	padding: $input-padding-y $input-padding-x;
	width: 100%;
}

input, textarea {
	&:focus {
		border-color: $border-color-hover;
		outline: none;
	}
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-moz-placeholder {
	color: $body-color;
	font-weight: 300;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: $body-color;
	font-weight: 300;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	@include pixel-rem(16);
	background-color: $body-color;
	border: 0;
	color: $button-color;
	cursor: pointer;
	font-family: $heading-font;
	font-weight: $heading-font-weight;
	padding: $button-padding-y $button-padding-x;
	text-transform: uppercase;
	width: auto;
	&:hover, &:focus {
		background-color: $link-color;
	}
}

.entry-content {
	.button{
		&:hover, &:focus {
			color: $entry-background;
		}
	}
}

.footer-widgets {
	button, input[type="button"], input[type="reset"], input[type="submit"], .button {
		background-color: $link-color;
		color: $button-color;
		&:hover, &:focus {
			background-color: $button-color;
			color: $body-color;
		}
	}
}

.button {
	display: inline-block;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
}

tbody {
	border-bottom: 1px solid $border-color;
}

td, th {
	text-align: left;
}

td {
	border-top: 1px solid $border-color;
	padding: 6px 0;
}

th {
	font-weight: 400;
}

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus  {
	@include pixel-rem(16);
	clip: auto !important;
	height: auto;
	width: auto;
	display: block;
	font-weight: bold;
	padding: 15px 23px 14px;
	color: $body-color;
	background: $white;
	z-index: 100000; /* Above WP toolbar. */
	text-decoration: none;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}

.more-link {
    position: relative;
}