/* ## Site Footer
----------------------------------------------------------------------------- */

.site-footer {
	@include pixel-rem(14);
	background-color: $white;
	line-height: 1;
	padding: $margin 0;
	text-align: center;
	p {
		margin-bottom: 0;
	}
}
