/* ## Site Navigation
----------------------------------------------------------------------------- */

.genesis-nav-menu {
	@include pixel-rem(16);
	clear: both;
	line-height: 1;
	width: 100%;
	.menu-item {
		display: inline-block;
		text-align: left;
		&:hover {
			position: static;
			& > .sub-menu {
				left: auto;
				opacity: 1;
			}
		}
	}
	a {
		color: $nav-color;
		text-decoration: none;
		display: block;
		padding: $nav-padding-y $nav-padding-x;
		&:hover, &:focus {
			color: $nav-color-hover;
		}
	}
	.current-menu-item {
		& > a {
			color: $nav-color-hover;
		}
	}
	.sub-menu {
		// @include transition(opacity, 400ms, ease-in-out);
		transition: opacity 400ms ease-in-out;
		left: -9999px;
		margin-left: 0;
		opacity: 0;
		position: absolute;
		width: 200px;
		z-index: 99;
		a {
			@include pixel-rem(16, 16);
			background-color: $subnav-background;
			border: 1px solid $subnav-border-color;
			border-top: 0;
			color: $subnav-color;
			padding: $subnav-padding-y $subnav-padding-x;
			position: relative;
			width: 200px;
			word-wrap: break-word;
			&:hover, &:focus {
				color: $subnav-color-hover;
			}
		}
		.current-menu-item {
			& > a {
				color: $subnav-color-hover;	
			}
		}
		.sub-menu {
			margin: -47px 0 0 199px;
		}
	}
	& > .first {
		& > a {
			padding-left: 0;
		}
	}
	& > .last {
		& > a {
			padding-right: 0;
		}
	}
	& > .right {
		color: $white;
		float: right;
		list-style-type: none;
		padding: $navextra-padding-y 0;
		& > a {
			display: inline;
			padding: 0;
		}
	}
	& > .rss {
		& > a {
			margin-left: 48px;
		}
	}
	& > .search {
		padding: 10px 0 0;
	}
}

.menu {
	.menu-item{
		&:focus {
			position: static;
		}
		& > a {
			&:focus {
				& + ul {
					&.sub-menu {
						left: auto;
						opacity: 1;
					}
				}
			}
		}
		&.sfHover {
			& > ul {
				&.sub-menu {
					left: auto;
					opacity: 1;
				}
			}
		}
	}
}

/* ### Header Navigation */
.site-header {
	.sub-menu {
		// border-top: 1px solid $subnav-border-color-alternate;
		.sub-menu {
			// margin-top: -56px;
		}
	}
	.genesis-nav-menu {
		li {
			li {
				margin-left: 0;
			}
		}
	}
}

/* ### Primary Navigation */
.nav-primary {
	background-color: $nav-primary-background;
	.genesis-nav-menu {
		a {
			color: $nav-primary-color;
			text-decoration: none;
			&:hover, &:focus {
				color: $nav-primary-color-hover;
			}
		}
		.current-menu-item {
			& > a {
				color: $nav-primary-color-hover;
			}
		}
		.sub-menu {
			a {
				color: $nav-primary-subnav-color;
				&:hover, &:focus {
					color: $nav-primary-subnav-color-hover;
				}
			}

		}
	}
}

/* ### Secondary Navigation */
.nav-secondary {
	background-color: $nav-primary-background;
	.genesis-nav-menu {
		a {
			color: $nav-primary-color;
			text-decoration: none;
			&:hover, &:focus {
				color: $nav-primary-color-hover;
			}
		}
		.current-menu-item {
			& > a {
				color: $nav-primary-color-hover;
			}
		}
		.sub-menu {
			a {
				color: $nav-primary-subnav-color;
				&:hover, &:focus {
					color: $nav-primary-subnav-color-hover;
				}
			}

		}
	}
}

/* ### Slick Navigation */
.slicknav_menu {
    display: block;
    @include grid-media($md) {
    	display: none;
    }
}