/* ## Site Navigation
----------------------------------------------------------------------------- */

.genesis-nav-menu {
	@include pixel-rem(16);
	clear: both;
	line-height: 1;
	width: 100%;
	.menu-item {
		display: block;
		position: relative;
		@include grid-media($sm) {
			display: inline-block;
			text-align: left;
		}
		&:hover {
			@include grid-media($sm) {
				position: static;
				& > .sub-menu {
					left: auto;
					opacity: 1;
				}
			}
		}
	}
	a {
		color: $nav-color;
		text-decoration: none;
		display: block;
		padding: $nav-padding-y $nav-padding-x;
		&:hover, &:focus {
			color: $nav-color-hover;
		}
	}
	.current-menu-item {
		& > a {
			color: $nav-color-hover;
		}
	}
	.sub-menu {
		display: none;
		margin-left: 0;
		@include grid-media($sm) {
			display: block;
			transition: opacity 400ms ease-in-out;
			left: -9999px;
			margin-left: 0;
			opacity: 0;
			position: absolute;
			width: 200px;
			z-index: 99;
		}
		a {
			@include pixel-rem(16, 16);
			background-color: $subnav-background;
			border: 1px solid $subnav-border-color;
			border-top: 0;
			color: $subnav-color;
			padding: $subnav-padding-y $subnav-padding-x;
			position: relative;
			word-wrap: break-word;
			@include grid-media($sm) {
				box-sizing: border-box;
				width: 200px;
			}
			&:hover, &:focus {
				color: $subnav-color-hover;
			}
		}
		.current-menu-item {
			& > a {
				color: $subnav-color-hover;	
			}
		}
		.sub-menu {
			@include grid-media($sm) {
				margin: -47px 0 0 199px;
			}
		}
	}
	& > .first {
		& > a {
			padding-left: 0;
		}
	}
	& > .last {
		& > a {
			padding-right: 0;
		}
	}
	& > .right {
		color: $white;
		float: right;
		list-style-type: none;
		padding: $navextra-padding-y 0;
		& > a {
			display: inline;
			padding: 0;
		}
	}
	& > .rss {
		& > a {
			margin-left: 48px;
		}
	}
	& > .search {
		padding: 10px 0 0;
	}
}

.menu {
	.menu-item{
		&:focus {
			position: static;
		}
		& > a {
			&:focus {
				& + ul {
					&.sub-menu {
						left: auto;
						opacity: 1;
					}
				}
			}
		}
		&.sfHover {
			& > ul {
				&.sub-menu {
					left: auto;
					opacity: 1;
				}
			}
		}
	}
}

/* ### Header Navigation */
.site-header {
	.genesis-nav-menu {
		li {
			li {
				margin-left: 0;
			}
		}
	}
}

/* ### Primary Navigation */
.nav-primary {
	background-color: $nav-primary-background;
	.genesis-nav-menu {
		a {
			color: $nav-primary-color;
			text-decoration: none;
			&:hover, &:focus {
				color: $nav-primary-color-hover;
			}
		}
		.current-menu-item {
			& > a {
				color: $nav-primary-color-hover;
			}
		}
		.sub-menu {
			a {
				color: $nav-primary-subnav-color;
				&:hover, &:focus {
					color: $nav-primary-subnav-color-hover;
				}
			}

		}
	}
}

/* ### Secondary Navigation */
.nav-secondary {
	background-color: $nav-primary-background;
	.genesis-nav-menu {
		a {
			color: $nav-primary-color;
			text-decoration: none;
			&:hover, &:focus {
				color: $nav-primary-color-hover;
			}
		}
		.current-menu-item {
			& > a {
				color: $nav-primary-color-hover;
			}
		}
		.sub-menu {
			a {
				color: $nav-primary-subnav-color;
				&:hover, &:focus {
					color: $nav-primary-subnav-color-hover;
				}
			}

		}
	}
}

/* ## Responsive Menu
----------------------------------------------------------------------------- */
.menu-toggle, .sub-menu-toggle {
	border-radius: 0px;
	background: $nav-primary-background;
	color: $white;
	padding: $nav-padding-y $nav-padding-x;
	&:hover, &:focus {
		background: $link-color;
	}
	@include grid-media($sm) {
		display: none;
	}
}

.menu-toggle {
	width: 100%;
}

.sub-menu-toggle {
	padding: 12px;
	position: absolute;
	right: 0;
	top: 0;
}

/* ## Slick Navigation
----------------------------------------------------------------------------- */
.slicknav_menu {
	padding: 0;
	background: $nav-primary-background;
	.slicknav_menutxt {
		text-transform: uppercase;
	}
}

.slicknav_nav {
	a {
		@include pixel-rem($body-font-size);
		color: $nav-primary-color;
		&:hover, &:focus {
			border-radius: none;
			background: none;
			text-decoration: none;
			color: $nav-primary-color-hover;
		}
	}
	.slicknav_row {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		&:hover, &:focus {
			color: $nav-primary-color-hover;
			background: none;
			border-radius: 0;
		}
		& > a {
			margin-right: auto;
		}
	}
}