/* ## Plugins
----------------------------------------------------------------------------- */

.enews-widget {
	.widget-title {
		color: #fff;
	}
	input {
		@include pixel-rem(16);
		border: 1px solid $body-color;
		margin-bottom: 16px;
		&:focus {
			border-color: $body-color;
		}
	}
	input[type="submit"] {
		background-color: $link-color;
		color: $white;
		margin: 0;
		width: 100%;
		&:hover, &:focus {
			background-color: $white;
			color: $body-color;
		}
	}
	.sidebar & {
		background-color: $body-color;
	}
	form {
		& + p {
			margin-top: 24px;
		}
	}
}

#wpstats {
	display: none;
}