/* ## HTML5 Reset
----------------------------------------------------------------------------- */

html,
input[type="search"]{
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.author-box, .clearfix, .entry, .entry-content, .footer-widgets, .nav-primary, .nav-secondary, .pagination, .site-container, .site-footer, .site-header, .site-inner, .wrap {
	@include clearfix;
}