/* ## Widgets
----------------------------------------------------------------------------- */

.widget {
	word-wrap: break-word;
	ol {
		& > li {
			list-style-position: inside;
			list-style-type: decimal;
			padding-left: 20px;
			text-indent: -20px;
		}
	}
	li {
		li {
			border: 0;
			margin: 0 0 0 30px;
			padding: 0;
		}
	}
}

.widget_calendar {
	table {
		width: 100%;
	}
	td, th {
		text-align: center;
	}
}

.entry {
	.featured-content & {
		border-bottom: 2px solid $border-featured-color;
		margin-bottom: 20px;
		padding: 0 0 24px;
	}
	.footer-widgets & {
		border-bottom: 1px dotted #666;
	}
}

.featured-content .entry-title {
	@include pixel-rem(20);
}

.widget_recent_entries {
	ul {
		li {
			a, .post-date {
				display: block;
			}
			a {
				font-weight: $heading-font-weight;
				color: $body-color;
				&:hover {
					color: $link-color;
				}
			}
			.post-date {
				@include pixel-rem(14);
			}
			&:last-child {
				border-bottom-color: transparent;
			}
		}
	}
}