.text-thin {
    font-weight: 100;
}

.text-extralight {
    font-weight: 200;
}

.text-light {
    font-weight: 300;
}

.text-normal {
    font-weight: 400;
}

.text-medium {
    font-weight: 500;
}

.text-semibold {
    font-weight: 600;
}

.text-bold,
.wp-caption-text {
    font-weight: 700;
}

.text-extrabold {
    font-weight: 800;
}

.text-heavy {
    font-weight: 900;
}

.text-italic {
    font-style: italic;
}

.text-oblique {
    font-style: oblique;
}

.text-normal {
    font-style: normal;
}

.text-inherit {
    font-style: inherit;
}

.text-initial {
    font-style: normal;
}

.text-unset {
    font-style: unset;
}

.text-capitalize {
    text-transform: capitalize;
}

.footer-widgets .widget-title,
.footer-widgets .widgettitle,
.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-none {
    text-transform: none;
}

.text-full-width {
    text-transform: full-width;
}

.text-none {
    text-align: none;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center,
.wp-caption-text {
    text-align: center;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

.display-table {
    display: table;
}

.display-table-cell {
    display: table-cell;
}

.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

.display-unset {
    display: unset;
}

html,
input[type=search] {
    box-sizing: border-box;
}

*,
:after,
:before {
    box-sizing: inherit;
}

.author-box:after,
.clearfix:after,
.entry-content:after,
.entry:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
    clear: both;
    content: "";
    display: table;
}

html {
    font-size: 16px;
}

body {
    background-color: #fff;
    color: #333;
    font-family: Source Sans Pro, sans-serif;
    font-weight: 300;
    margin: 0;
    overflow-x: hidden;
}

body,
body>div {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.625;
}

body>.site-container {
    overflow-x: hidden;
}

.button,
.gallery img,
a,
button,
input:focus,
input[type=button],
input[type=reset],
input[type=submit],
textarea:focus {
    transition: all .1s ease-in-out;
}

a {
    color: #c3251d;
}

a,
a:focus,
a:hover {
    text-decoration: none;
}

a:focus,
a:hover {
    color: #333;
}

p {
    margin: 0 0 30px;
}

ol,
p,
ul {
    padding: 0;
}

ol,
ul {
    margin: 0;
}

li {
    list-style-type: none;
}

hr {
    border: 0;
    border-collapse: collapse;
    border-top: 1px solid #ddd;
    clear: both;
    margin: 30px 0;
}

b,
strong {
    font-weight: 700;
}

blockquote,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 30px;
}

blockquote:before {
    font-size: 30px;
    font-size: 1.875rem;
    content: "\201C";
    display: block;
    height: 0;
    left: -20px;
    position: relative;
    top: -10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-family: Source Sans Pro, sans-serif;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 10px;
}

h1 {
    font-size: 36px;
    font-size: 2.25rem;
}

h2 {
    font-size: 30px;
    font-size: 1.875rem;
}

h3 {
    font-size: 24px;
    font-size: 1.5rem;
}

h4 {
    font-size: 20px;
    font-size: 1.25rem;
}

h5 {
    font-size: 18px;
    font-size: 1.125rem;
}

h6 {
    font-size: 16px;
    font-size: 1rem;
}

.wp-caption,
embed,
iframe,
img,
object,
video {
    max-width: 100%;
}

img {
    height: auto;
}

.feature-content img,
.gallery img {
    width: auto;
}

.gallery {
    overflow: hidden;
}

.gallery img {
    border: 1px solid #ddd;
    height: auto;
    padding: 4px;
}

.gallery img:focus,
.gallery img:hover {
    border-color: #999;
}

.gallery-item {
    float: left;
    margin: 0 0 30px;
    text-align: center;
}

.gallery-columns-2 .gallery-item {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
}

.gallery-columns-3 .gallery-item {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
}

.gallery-columns-4 .gallery-item {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
}

.gallery-columns-5 .gallery-item {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
}

.gallery-columns-6 .gallery-item {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
}

.gallery-columns-7 .gallery-item {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
}

.gallery-columns-8 .gallery-item {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
}

.gallery-columns-9 .gallery-item {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
}

input,
select,
textarea {
    font-size: 16px;
    font-size: 1rem;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    color: #333;
    font-weight: 300;
    padding: 10px 15px;
    width: 100%;
}

input:focus,
textarea:focus {
    border-color: #999;
    outline: none;
}

input[type=checkbox],
input[type=image],
input[type=radio] {
    width: auto;
}

::-moz-placeholder {
    color: #333;
    font-weight: 300;
    opacity: 1;
}

::-webkit-input-placeholder {
    color: #333;
    font-weight: 300;
}

.button,
button,
input[type=button],
input[type=reset],
input[type=submit] {
    font-size: 16px;
    font-size: 1rem;
    background-color: #333;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-family: Source Sans Pro, sans-serif;
    font-weight: 400;
    padding: 16px 24px;
    text-transform: uppercase;
    width: auto;
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type=button]:focus,
input[type=button]:hover,
input[type=reset]:focus,
input[type=reset]:hover,
input[type=submit]:focus,
input[type=submit]:hover {
    background-color: #c3251d;
}

.entry-content .button:focus,
.entry-content .button:hover {
    color: #fff;
}

.footer-widgets .button,
.footer-widgets button,
.footer-widgets input[type=button],
.footer-widgets input[type=reset],
.footer-widgets input[type=submit] {
    background-color: #c3251d;
    color: #fff;
}

.footer-widgets .button:focus,
.footer-widgets .button:hover,
.footer-widgets button:focus,
.footer-widgets button:hover,
.footer-widgets input[type=button]:focus,
.footer-widgets input[type=button]:hover,
.footer-widgets input[type=reset]:focus,
.footer-widgets input[type=reset]:hover,
.footer-widgets input[type=submit]:focus,
.footer-widgets input[type=submit]:hover {
    background-color: #fff;
    color: #333;
}

.button {
    display: inline-block;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button {
    display: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 2;
    margin-bottom: 40px;
    width: 100%;
}

tbody {
    border-bottom: 1px solid #ddd;
}

td,
th {
    text-align: left;
}

td {
    border-top: 1px solid #ddd;
    padding: 6px 0;
}

th {
    font-weight: 400;
}

.screen-reader-shortcut,
.screen-reader-text,
.screen-reader-text span {
    position: absolute!important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.genesis-nav-menu .search input[type=submit]:focus,
.screen-reader-shortcut:focus,
.screen-reader-text:focus,
.widget_search input[type=submit]:focus {
    font-size: 16px;
    font-size: 1rem;
    clip: auto!important;
    height: auto;
    width: auto;
    display: block;
    font-weight: 700;
    padding: 15px 23px 14px;
    color: #333;
    background: #fff;
    z-index: 2;
    text-decoration: none;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
}

.more-link {
    position: relative;
}

.footer-widgets:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after {
    clear: both;
    content: "";
    display: block;
}

.site-inner,
.wrap {
    margin: 0 auto;
    max-width: 90.625%;
}

.site-inner {
    padding: 60px 0;
}

.site-inner:after {
    clear: both;
    content: "";
    display: table;
}

.site-header .title-area {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
}

.site-header .widget-area {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
}

.content {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
}

.full-width-content .content,
.sidebar-primary {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
}

.content-sidebar-sidebar .sidebar-primary,
.sidebar-content-sidebar .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
}

.sidebar-secondary {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
}

.footer-widgets .widget-area {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
}

.avatar {
    float: left;
}

.alignleft .avatar,
.author-box .avatar {
    margin-right: 30px;
}

.alignright .avatar {
    margin-left: 30px;
}

.comment .avatar {
    margin: 0 15px 30px 0;
}

.archive-description,
.author-box,
.breadcrumb {
    margin-bottom: 30px;
}

.author-box {
    background-color: #fff;
    padding: 30px;
}

.author-box p:last-child {
    margin-bottom: 0;
}

.author-box-title {
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: 4px;
}

.search-form {
    overflow: hidden;
}

.site-header .search-form {
    float: right;
    margin-top: 12px;
}

.entry-content .search-form,
.site-header .search-form {
    width: 50%;
}

.genesis-nav-menu input[type=submit],
.widget_search input[type=submit] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
}

.archive-title {
    font-size: 20px;
    font-size: 1.25rem;
}

.entry-title {
    font-size: 36px;
    font-size: 2.25rem;
}

.entry-title a {
    color: #333;
}

.entry-title a:focus,
.entry-title a:hover {
    color: #c3251d;
}

.widget-title {
    font-size: 18px;
    font-size: 1.125rem;
    margin-bottom: 20px;
}

.widget-title a {
    color: #333;
}

.footer-widgets .widget-title {
    color: #fff;
}

a.aligncenter img {
    display: block;
    margin: 0 auto;
}

a.alignnone {
    display: inline-block;
}

a.alignleft,
a.alignnone,
a.alignright {
    max-width: 100%;
}

.alignleft {
    float: left;
    text-align: left;
}

.alignright {
    float: right;
    text-align: right;
}

.aligncenter,
img.centered {
    display: block;
    margin: 0 auto 30px;
}

.alignnone,
img.alignnone {
    margin-bottom: 30px;
}

.wp-caption.alignleft,
a.alignleft,
img.alignleft {
    margin: 0 30px 30px 0;
}

.wp-caption.alignright,
a.alignright,
img.alignright {
    margin: 0 0 30px 30px;
}

.wp-caption-text {
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.28571;
}

.entry-content p.wp-caption-text {
    margin-bottom: 0;
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
    margin: 0 0 30px;
}

.widget {
    word-wrap: break-word;
}

.widget ol>li {
    list-style-position: inside;
    list-style-type: decimal;
    padding-left: 20px;
    text-indent: -20px;
}

.widget li li {
    border: 0;
    margin: 0 0 0 30px;
    padding: 0;
}

.widget_calendar table {
    width: 100%;
}

.widget_calendar td,
.widget_calendar th {
    text-align: center;
}

.featured-content .entry {
    border-bottom: 2px solid #f5f5f5;
    margin-bottom: 20px;
    padding: 0 0 24px;
}

.footer-widgets .entry {
    border-bottom: 1px dotted #666;
}

.featured-content .entry-title {
    font-size: 20px;
    font-size: 1.25rem;
}

.enews-widget .widget-title {
    color: #fff;
}

.enews-widget input {
    font-size: 16px;
    font-size: 1rem;
    border: 1px solid #333;
    margin-bottom: 16px;
}

.enews-widget input:focus {
    border-color: #333;
}

.enews-widget input[type=submit] {
    background-color: #c3251d;
    color: #fff;
    margin: 0;
    width: 100%;
}

.enews-widget input[type=submit]:focus,
.enews-widget input[type=submit]:hover {
    background-color: #fff;
    color: #333;
}

.sidebar .enews-widget {
    background-color: #333;
}

.enews-widget form+p {
    margin-top: 24px;
}

#wpstats {
    display: none;
}

.site-header {
    background-color: #fff;
    padding: 30px 0;
}

.header-full-width .title-area {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
}

.site-title {
    font-size: 32px;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
}

.site-title a,
.site-title a:focus,
.site-title a:hover {
    color: #333;
}

.header-image .site-title a {
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-position: 0;
    float: left;
    min-height: 60px;
    width: 100%;
}

.site-title a img {
    vertical-align: bottom;
}

.site-description {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}

.site-description,
.site-title {
    margin-bottom: 0;
}

.header-image .site-description,
.header-image .site-title {
    display: block;
    text-indent: -9999px;
}

.site-header .widget-area {
    float: right;
    text-align: right;
}

.genesis-nav-menu {
    font-size: 16px;
    font-size: 1rem;
    clear: both;
    line-height: 1;
    width: 100%;
}

.genesis-nav-menu .menu-item {
    display: inline-block;
    text-align: left;
}

.genesis-nav-menu .menu-item:hover {
    position: static;
}

.genesis-nav-menu .menu-item:hover>.sub-menu {
    left: auto;
    opacity: 1;
}

.genesis-nav-menu a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 20px 30px;
}

.genesis-nav-menu .current-menu-item>a,
.genesis-nav-menu a:focus,
.genesis-nav-menu a:hover {
    color: #c3251d;
}

.genesis-nav-menu .sub-menu {
    transition: opacity .4s ease-in-out;
    left: -9999px;
    margin-left: 0;
    opacity: 0;
    position: absolute;
    width: 200px;
    z-index: 1;
}

.genesis-nav-menu .sub-menu a {
    font-size: 16px;
    font-size: 1rem;
    background-color: #333;
    border: 1px solid #333;
    border-top: 0;
    color: #fff;
    padding: 15px 30px;
    position: relative;
    width: 200px;
    word-wrap: break-word;
}

.genesis-nav-menu .sub-menu .current-menu-item>a,
.genesis-nav-menu .sub-menu a:focus,
.genesis-nav-menu .sub-menu a:hover {
    color: #c3251d;
}

.genesis-nav-menu .sub-menu .sub-menu {
    margin: -47px 0 0 199px;
}

.genesis-nav-menu>.first>a {
    padding-left: 0;
}

.genesis-nav-menu>.last>a {
    padding-right: 0;
}

.genesis-nav-menu>.right {
    color: #fff;
    float: right;
    list-style-type: none;
    padding: 20px 0;
}

.genesis-nav-menu>.right>a {
    display: inline;
    padding: 0;
}

.genesis-nav-menu>.rss>a {
    margin-left: 48px;
}

.genesis-nav-menu>.search {
    padding: 10px 0 0;
}

.menu .menu-item:focus {
    position: static;
}

.menu .menu-item.sfHover>ul.sub-menu,
.menu .menu-item>a:focus+ul.sub-menu {
    left: auto;
    opacity: 1;
}

.site-header .genesis-nav-menu li li {
    margin-left: 0;
}

.nav-primary {
    background-color: #333;
}

.nav-primary .genesis-nav-menu a {
    color: #fff;
    text-decoration: none;
}

.nav-primary .genesis-nav-menu .current-menu-item>a,
.nav-primary .genesis-nav-menu a:focus,
.nav-primary .genesis-nav-menu a:hover {
    color: #c3251d;
}

.nav-primary .genesis-nav-menu .sub-menu a {
    color: #fff;
}

.nav-primary .genesis-nav-menu .sub-menu a:focus,
.nav-primary .genesis-nav-menu .sub-menu a:hover {
    color: #c3251d;
}

.nav-secondary {
    background-color: #333;
}

.nav-secondary .genesis-nav-menu a {
    color: #fff;
    text-decoration: none;
}

.nav-secondary .genesis-nav-menu .current-menu-item>a,
.nav-secondary .genesis-nav-menu a:focus,
.nav-secondary .genesis-nav-menu a:hover {
    color: #c3251d;
}

.nav-secondary .genesis-nav-menu .sub-menu a {
    color: #fff;
}

.nav-secondary .genesis-nav-menu .sub-menu a:focus,
.nav-secondary .genesis-nav-menu .sub-menu a:hover {
    color: #c3251d;
}

.slicknav_menu {
    display: block;
}

.entry {
    margin-bottom: 30px;
}

.entry-content ol,
.entry-content ul {
    margin-bottom: 30px;
    margin-left: 30px;
}

.entry-content ol>li {
    list-style-type: decimal;
}

.entry-content ol ol {
    margin-bottom: 0;
}

.entry-content ul>li {
    list-style-type: disc;
}

.entry-content ul ul {
    margin-bottom: 0;
}

.entry-content code {
    background-color: #333;
    color: #ddd;
}

.entry-content p:last-child,
p .entry-meta {
    margin-bottom: 0;
}

p .entry-meta {
    font-size: 14px;
    font-size: .875rem;
}

.entry-header .entry-meta {
    margin-bottom: 30px;
}

.entry-footer .entry-meta {
    padding-top: 30px;
}

.entry-categories,
.entry-tags {
    display: block;
}

.entry-comments-link:before {
    content: "\2014";
    margin: 0 6px 0 2px;
}

.pagination {
    clear: both;
    margin: 30px 0;
}

.adjacent-entry-pagination {
    margin-bottom: 0;
}

.archive-pagination {
    font-size: 0;
}

.archive-pagination li {
    display: inline-block;
}

.archive-pagination li a {
    font-size: 16px;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    padding: 10px 20px;
    text-decoration: none;
}

.archive-pagination li.active a,
.archive-pagination li a:focus,
.archive-pagination li a:hover {
    background-color: #c3251d;
}

.comment-respond,
.entry-comments,
.entry-pings {
    margin-bottom: 30px;
}

.entry-comments .comment-author {
    margin-bottom: 0;
}

.entry-comments .comment-author .says {
    display: none;
}

.comment-header {
    font-size: 16px;
    font-size: 1rem;
}

li.comment {
    border-right: 0;
}

li ul {
    margin-left: 30px;
}

.comment-content {
    clear: both;
    word-wrap: break-word;
}

.comment-list li {
    margin-top: 30px;
}

.comment-respond input[type=email],
.comment-respond input[type=text],
.comment-respond input[type=url] {
    width: 50%;
}

.comment-respond label {
    display: block;
    margin-right: 15px;
}

.entry-pings .reply {
    display: none;
}

.form-allowed-tags {
    background-color: #f5f5f5;
    padding: 30px;
}

.form-allowed-tags,
.sidebar {
    font-size: 16px;
    font-size: 1rem;
}

.sidebar li {
    border-bottom: 1px dotted #ddd;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.sidebar p:last-child,
.sidebar ul>li:last-child {
    margin-bottom: 0;
}

.sidebar .widget {
    margin-bottom: 30px;
}

.footer-widgets {
    background-color: #333;
    color: #aaa;
    padding: 60px 0;
}

.footer-widgets a {
    color: #fff;
}

.footer-widgets a.button,
.footer-widgets a:focus,
.footer-widgets a:hover {
    color: #c3251d;
}

.footer-widgets input {
    border: 1px solid #333;
}

.footer-widgets li {
    border-bottom: 1px dotted #666;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.footer-widgets li:last-child {
    border-bottom-color: transparent;
}

.footer-widgets .widget {
    margin-bottom: 30px;
}

.footer-widgets .widget:last-child,
.footer-widgets p:last-child {
    margin-bottom: 0;
}

.footer-widgets .widget_recent_entries li a {
    color: #fff;
    display: block;
    font-family: Source Sans Pro, sans-serif;
}

.footer-widgets .widget_recent_entries li a:focus,
.footer-widgets .widget_recent_entries li a:hover {
    color: #c3251d;
}

.footer-widgets .widget_recent_entries li span {
    display: block;
}

.site-footer {
    font-size: 14px;
    font-size: .875rem;
    background-color: #fff;
    line-height: 1;
    padding: 30px 0;
    text-align: center;
}

.site-footer p {
    margin-bottom: 0;
}

@media only screen and (min-width:768px) {
    .gallery-columns-2 .gallery-item {
        width: calc(50% - 30px);
        float: left;
        margin-left: 20px;
    }
    .gallery-columns-2 .gallery-item:last-child,
    .gallery-columns-2 .gallery-item:nth-of-type(2n) {
        margin-right: 20px;
    }
    .gallery-columns-2 .gallery-item:nth-of-type(odd) {
        clear: left;
    }
    .gallery-columns-3 .gallery-item {
        width: calc(33.33333% - 26.66667px);
        float: left;
        margin-left: 20px;
    }
    .gallery-columns-3 .gallery-item:last-child,
    .gallery-columns-3 .gallery-item:nth-of-type(3n) {
        margin-right: 20px;
    }
    .gallery-columns-3 .gallery-item:nth-of-type(3n+1) {
        clear: left;
    }
    .gallery-columns-4 .gallery-item {
        width: calc(25% - 25px);
        float: left;
        margin-left: 20px;
    }
    .gallery-columns-4 .gallery-item:last-child,
    .gallery-columns-4 .gallery-item:nth-of-type(4n) {
        margin-right: 20px;
    }
    .gallery-columns-4 .gallery-item:nth-of-type(4n+1) {
        clear: left;
    }
    .gallery-columns-5 .gallery-item {
        width: calc(20% - 24px);
        float: left;
        margin-left: 20px;
    }
    .gallery-columns-5 .gallery-item:last-child,
    .gallery-columns-5 .gallery-item:nth-of-type(5n) {
        margin-right: 20px;
    }
    .gallery-columns-5 .gallery-item:nth-of-type(5n+1) {
        clear: left;
    }
    .gallery-columns-6 .gallery-item {
        width: calc(16.66667% - 23.33333px);
        float: left;
        margin-left: 20px;
    }
    .gallery-columns-6 .gallery-item:last-child,
    .gallery-columns-6 .gallery-item:nth-of-type(6n) {
        margin-right: 20px;
    }
    .gallery-columns-6 .gallery-item:nth-of-type(6n+1) {
        clear: left;
    }
    .gallery-columns-7 .gallery-item {
        width: calc(14.28571% - 22.85714px);
        float: left;
        margin-left: 20px;
    }
    .gallery-columns-7 .gallery-item:last-child,
    .gallery-columns-7 .gallery-item:nth-of-type(7n) {
        margin-right: 20px;
    }
    .gallery-columns-7 .gallery-item:nth-of-type(7n+1) {
        clear: left;
    }
    .gallery-columns-8 .gallery-item {
        width: calc(12.5% - 22.5px);
        float: left;
        margin-left: 20px;
    }
    .gallery-columns-8 .gallery-item:last-child,
    .gallery-columns-8 .gallery-item:nth-of-type(8n) {
        margin-right: 20px;
    }
    .gallery-columns-8 .gallery-item:nth-of-type(8n+1) {
        clear: left;
    }
    .gallery-columns-9 .gallery-item {
        width: calc(11.11111% - 22.22222px);
        float: left;
        margin-left: 20px;
    }
    .gallery-columns-9 .gallery-item:last-child,
    .gallery-columns-9 .gallery-item:nth-of-type(8n) {
        margin-right: 20px;
    }
    .gallery-columns-9 .gallery-item:nth-of-type(8n+1) {
        clear: left;
    }
    .site-inner,
    .wrap {
        max-width: 740px;
    }
    .site-header .title-area {
        width: calc(33.33333% - 26.66667px);
        float: left;
        margin-left: 20px;
    }
    .site-header .widget-area {
        width: calc(66.66667% - 33.33333px);
        float: left;
        margin-left: 20px;
    }
    .content {
        width: calc(66.66667% - 33.33333px);
        float: left;
        margin-left: 20px;
    }
    .content-sidebar-sidebar .content,
    .sidebar-content-sidebar .content,
    .sidebar-sidebar-content .content {
        width: calc(58.33333% - 31.66667px);
        float: left;
        margin-left: 20px;
    }
    .sidebar-content .content {
        left: calc(33.33333% - 26.66667px + 20px);
        position: relative;
    }
    .sidebar-content-sidebar .content {
        left: calc(16.66667% - 23.33333px + 20px);
        position: relative;
    }
    .sidebar-sidebar-content .content {
        left: calc(41.66667% - 28.33333px + 20px);
        position: relative;
    }
    .sidebar-primary {
        width: calc(33.33333% - 26.66667px);
        float: left;
        margin-left: 20px;
    }
    .content-sidebar-sidebar .sidebar-primary,
    .sidebar-content-sidebar .sidebar-primary,
    .sidebar-sidebar-content .sidebar-primary {
        width: calc(25% - 25px);
        float: left;
        margin-left: 20px;
    }
    .sidebar-sidebar-content .sidebar-primary {
        left: calc(-41.66667% - 11.66667px + 20px);
        position: relative;
    }
    .sidebar-content .sidebar-primary {
        left: calc(-66.66667% - 6.66667px + 20px);
        position: relative;
    }
    .sidebar-content-sidebar .sidebar-primary {
        left: calc(16.66667% - 23.33333px + 20px);
        position: relative;
    }
    .sidebar-secondary {
        width: calc(16.66667% - 23.33333px);
        float: left;
        margin-left: 20px;
    }
    .sidebar-content-sidebar .sidebar-secondary,
    .sidebar-sidebar-content .sidebar-secondary {
        left: calc(-83.33333% - 3.33333px + 20px);
        position: relative;
    }
    .footer-widgets .widget-area {
        width: calc(33.33333% - 26.66667px);
        float: left;
        margin-left: 20px;
    }
}

@media only screen and (min-width:1024px) {
    .site-inner,
    .wrap {
        max-width: 940px;
    }
    .slicknav_menu {
        display: none;
    }
}

@media only screen and (min-width:1200px) {
    .site-inner,
    .wrap {
        max-width: 1140px;
    }
}