/* ## Site Containers
----------------------------------------------------------------------------- */

.site-container, .site-header, .site-inner, .footer-widgets, .site-footer {
	@include row;
}

.site-inner, .wrap {
	margin: 0 auto;
	max-width: 90.625%;
	@include tablet {
		max-width: 740px;
	}
	@include desktop {
		max-width: 940px;
	}
	@include largescreen {
		max-width: 1140px;
	}
}

.site-inner {
	@include clearfix;
	padding: $margin*2 0;
}

/* ### Header */
.site-header {
	.title-area {
		@include tablet {
			@include span-columns(4 of 12);
		}
	}
	.widget-area {
		@include tablet {
			@include span-columns(8 of 12);
		}
	}
}

/* ## Wrapping div for .content and .sidebar-primary
----------------------------------------------------------------------------- */

.content-sidebar-wrap {
	.content-sidebar-sidebar &, .sidebar-content-sidebar &, .sidebar-sidebar-content & {
		@include tablet {
			@include span-columns(10 of 12);
		}
	}
	.sidebar-sidebar-content & {

	}
	.content-sidebar-sidebar & {

	}
	.sidebar-content-sidebar &, .sidebar-sidebar-content & {
		@include tablet {
			@include shift(2 of 12);
		}
	}
}

/* ### Content */

.content {
	@include tablet {
		@include span-columns(8 of 12);
	}
	.content-sidebar-sidebar &, .sidebar-content-sidebar &, .sidebar-sidebar-content & {
		@include tablet {
			@include span-columns(7 of 10);
		}	
	}
	.sidebar-content-sidebar & {

	}
	.sidebar-content & {
		@include tablet {
			@include shift(4 of 12);
		}
	}
	.sidebar-sidebar-content & {
		@include tablet {
			@include shift(3 of 10);
		}
	}
	.content-sidebar-sidebar &, .sidebar-content-sidebar & {
	}
	.full-width-content & {
		@include fill-parent;
	}
}
/* ### Primary Sidebar */

.sidebar-primary {
	@include tablet {
		@include span-columns(4 of 12);
	}
	.content-sidebar-sidebar &, .sidebar-content-sidebar &, .sidebar-sidebar-content & {
		@include tablet {
			@include span-columns(3 of 10);
		}
	}
	.sidebar-sidebar-content & {
		@include tablet {
			@include shift(-10 of 10);
		}
	}
	.sidebar-content &, .sidebar-sidebar-content & {
		
	}
	.sidebar-content & {
		@include tablet {
			@include shift(-12 of 12);
		}
	}
}

/* ### Secondary Sidebar */
.sidebar-secondary {
	@include span-columns(2 of 12);
	.content-sidebar-sidebar & {

	}
	.sidebar-content-sidebar &, .sidebar-sidebar-content & {
		@include tablet {
			@include shift(-12 of 12);
		}
	}
}

/* ### Footer Widgets */
.footer-widgets {
	.widget-area {
		@include tablet {
			@include span-columns(4 of 12);
		}
	}
}