// REM mixin
@mixin rem($fs: $base-font-size, $lh: $base-font-size) {
	font-size: strip-units($fs) * 1px;
	font-size: strip-units($fs/$base-font-size) * 1rem;
	@if $lh != $base-font-size {
		line-height: strip-units($lh/$fs);
	}
}

// Media Query Mixin
@mixin mobile {
	@media only screen and (max-width: #{$mobile}) {
		@content;
	}
}

@mixin tablet {
	@media only screen and (min-width: #{$tablet}) {
		@content;
	}
}

@mixin desktop {
	@media only screen and (min-width: #{$desktop}) {
		@content;
	}
}

@mixin largescreen {
	@media only screen and (min-width: #{$largescreen}) {
		@content;
	}
}